:root {
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    }


Header .logo{
    color: var(--vermelho);
    font-family: 'Arial black',Times;
    font-size: 40px;
    margin: 5px;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    font-size: 18px;
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover{
    color: #FFF
}

/* Filme Principal */

.filme-principal {
font-size: 17px;   
background-image: url("../img/capa-house.jpg");
height: 400px;
background-size: cover;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.filme-principal .descricao {
font-family: 'Times New Roman', Times, serif;
width: 50%;
margin-top: 10px;
margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(233, 27, 27, 0.5);
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: black;
    color:rgba(233, 27, 27, 0.5)

}


.filme-principal .container{
    width: 60%;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}